.thumbnails-wrapper {
  display: flex;
  background: rgba(24, 22, 22, 0.438);
  padding: 30px 20px;

  .links-holder {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;

    .list-item {
      margin: 0 0 3px;

      .nav-link {
        padding: 2px 5px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;

        &.active-link {
          background: rgb(104, 18, 18);
        }

        &:hover {
          color: rgba(133, 27, 27, 0.932);
          background: rgba(182, 181, 181, 0.76);
          transition: all 0.3s ease;
        }
      }
    }
  }
}

.thumb-link {
  color: rgb(255, 255, 255);
  font-size: 13px;

  &:hover {
    color: rgba(133, 27, 27, 0.932);
    background: #fff;
    transition: all 0.3s ease;
  }
}

.thumbnails-info-list {
  display: flex;
  flex-wrap: wrap;

  .info-list-item {
    margin: 0 10px 0 0;
  }
}
