.search-input {
  border: none;
  outline: none;
  background: rgba(24, 22, 22, 0.438);
  color: #fff;
  padding: 8px 10px;
  width: 100%;
  display: block;
  height: 40px;

  &::placeholder {
    color: #fff;
  }
}

.input-wrapper {
  margin: 0 0 10px;
}
