.card-image {
  max-width: 100%;
  margin: 0 0 5px;
}

.card-holder {
  width: calc(20% - 20px);
  margin: 0 10px 10px;
  background: rgba(24, 22, 22, 0.438);
  padding: 5px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.person-name {
  color: #fff;
  text-align: center;
}
