.sidebar {
  position: fixed;
  width: 20%;
  height: 70vh;
  background: rgba(24, 22, 22, 0.438);

  .navigation {
    position: relative;
    margin: 0 15%;
    top: 35%;
    transform: translateY(-50%);
    font-weight: bold;

    .menu-item {
      position: relative;
      margin: 3em 0;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.1em;
        background: black;
        left: 0;
        bottom: -10px;
        background-image: linear-gradient(to right, #030303, #b61f38);
      }

      .menu-link {
        line-height: 1em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(#fff, 0.4);
        display: block;
        transition: all ease-out 300ms;

        &.active {
          color: white;
          font-size: 1.5em;
        }
        // &:not(.active)::after {
        //   opacity: 0.2;
        // }
        &:not(.active):hover {
          color: rgba(#fff, 0.75);
        }
      }
    }
  }
}
