* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  height: 100vh;
  background: url('./assets/images/background.jpg') left / cover;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #fff;
    font: 60px sans-serif;
  }
}
