.cards-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.vehicles-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.vehicles-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 5;
}
